html {
    height: 100%;
    font-family: 'Mulish', sans-serif;
    background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

body {
    height: 90%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
}

h1 {
    font-size: 50px;
    text-shadow: 0 0 40px #ffffff;;
}

h3 {
    margin-top: -15px;
    margin-bottom: 30px;
}

input[type="number"] {
    margin-top: 30px;
    width: 80px;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: inset 0 0 10px #0d1125;
}

#firstNum {
    margin-right: 10px;
}

#error {
    visibility: hidden;
    color: #ff5050;
}

.btnDiv {
    text-align: center;
}

#button {
    background: white;
    margin: 20px;
    padding: 16px 32px;
    font-weight: 700;
    width: 150px;
    border: none;
    color: rgb(14, 14, 14);
    text-align: center;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    transition-duration: 0.3s;
    border: 2px solid whitesmoke;
}

#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: none;
    color: white;
}

::placeholder {
    color: silver;
    opacity: 1;
}